# .gitignore

# Python 编译文件
__pycache__/
*.pyc

# 你的存档文件 (这是运行时产生的，不要提交)
.checkpoints/
*.

# 测试缓存
.pytest_cache

# 虚拟环境
venv/
.env

# IDE 配置
.vscode/
.idea/

# 图片生成结果 (可选)
*.png
*.dot

# mac生成文件
.DS_Store
**/.DS_Store